@model IEnumerable<OnlineNotePad.Models.Document>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
	<a asp-action="Create" class="btn btn-success d-flex justify-content-center align-items-center" style="width: 150px; height: 200px; font-size: 100px;">
		<i class="fas fa-plus"></i>
	</a>
</div>

<hr />

<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-2">
			<div>
				<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info d-flex flex-column justify-content-center align-items-center" style="width: 150px; height: 200px; font-size: 100px;">
					<i class="fas fa-file-alt"></i>
				</a>
			</div>
			<span style="font-weight: bold">@item.Title</span>
		</div>
	}
</div>